<% if order_items.empty? %>
  <h5>Nothing to bake at this time.</h5></p>
<% else %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th width="300">Item</th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
      <% order_items.each do |name, quantity| %>
        <tr>
          <td><%= name %></td>
          <td align="center"><%= quantity %></td>
        </tr>
    <% end %>
  </tbody>
  </table>
<% end %>