<h3> Items to Bake: </h3>
<br>
<h4> Breads </h4>
<%= render partial: "partials/baking_list", locals: {order_items: @breads} %>
<h4> Muffins </h4>
<%= render partial: "partials/baking_list", locals: {order_items: @muffins} %>
<h4> Pastries </h4>
<%= render partial: "partials/baking_list", locals: {order_items: @pastries} %>