<div class="row">   
  <h4>Welcome to the A & M Baking Factory</h4> 
  <div class="col s9">
    <div class="card">
      <div id="frontpage" class="card-content">
        <p>
          Hungry? We've got you covered. </br>
          The best breads.</br>
          The best muffins.</br>
          Even the best pastries.</br>
          All here, in one location, delivered right to your doorstep.</br></br>

          Welcome to heaven, my friends.</br>
        </p>
        <div id=special>
          Welcome to the A & M Baking Factory.
        </div>
        <br>
        View our wonderful treats, or login to order them.
        
      </div>
    </div>
  </div>
  <div class="col s2">
    <%= image_tag('breads.png', :size => '390x270') %>
  </div>
</div>