<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>Contact the A & M Team</em></span>
        <p>
          Please direct all site compliments and other positive notes to the webmaster Evan Feder at <%= mail_to("efeder@andrew.cmu.edu", "efeder@andrew.cmu.edu", encode: "javascript") %>. He's single, ladies!
          </br></br>
          Please direct all complaints to TA Alec Lam at <%= mail_to("ahlam@andrew.cmu.edu", "ahlam@andrew.cmu.edu", encode: "javascript") %>. It's probably his fault.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>