<% unless @previous_prices.empty? %>
  <div class="panel clearfix">
    <h3>Price History</h3>
    <table>
      <thead>
        <tr>
          <th width="120">Price</th>
          <th width="100">Start Date</th>
        </tr>
      </thead>
      <tbody>
      <% @previous_prices.each do |price| %>
        <tr>
          <td><%= number_to_currency price.price %></td>
          <td><%= price.start_date.strftime('%m/%d/%y') %></td>
        </tr>
      <% end %>
    </table>
    <% if can? :new, ItemPrice %>
      <div class="card-action">
        <%= link_to "Change the price", new_item_price_path(item_id: @item.id) %>
      </div>
    <% end %>
  </div>
<% else %>
  <% if can? :new, ItemPrice %>
  <div class="panel clearfix">
    <div class="card-action">
      <%= link_to "Change the price", new_item_price_path(item_id: @item.id) %>
    </div>
  </div>
  <% end %>
<% end %>
